<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>{{ item }}</name>
  <description></description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
    <host>{{ item | lower }}.{{ jenkins_server_name }}</host>
    <port>22</port>
    <credentialsId>jenkins-ssh-key</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>Ubuntu16.04</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>PYTHON27</string>
          <string>/srv/python2.7.11/bin/python2.7</string>
          <string>PYTHON35</string>
          <string>/srv/python3.5.1/bin/python3.5</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <userId>tisto</userId>
</slave>
